body {
    margin: 0%;

}

a {
    text-decoration: none;
    opacity:1;
    font-family: 'Sen', sans serif;
    font-weight: 400;
    transition: 200ms;
  }

  a:hover {
    opacity:0.5;
  }

ul {
    padding: 0;
    list-style-type: none;
  }

.filt-text {
    position: absolute;
    margin-top: 80px;
    margin-left: 37px;
    font-family: Sen;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #2F80ED;
}
/*
.ruumi-nupp {
    position: absolute;
    width: 301px;
    height: 46px;
    left: 31px;
    top: 138px;
    border-radius: 25px;
    background-color: white;
    border-color: #2F80ED;
}
*/
.container {
    margin-top: 120px;
    margin-left: 10%;
}

.pais {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    padding: 20px 20px;
    background-color: #2F80ED;
    font-family: Sen;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    color: #ffffff;
    display: flex;
    width: 100%;
    height: 75px;
    color: white;
    top: 0;
    left: 0;
    z-index: 3;
    box-sizing: border-box;

}

.kursus {
    width: 50%;

}

.burger {
    width: 40%;
    right: 20px;
padding-right: 30px;
text-align: right;
}

.burger a {

color: #ffffff;
}
#menu {
    margin: 0;

    width: 100%;
    height:80%;
    background: #2F80ED;
    position: absolute;
    padding: 50px;
    top: 74px;
    z-index: 10;
    display: none;
}

#menu a {
    color: #fff;
    font-size: 1.4em;
    line-height: 2em;

}
