body {
    height: 100%;
    width: 100%;
    margin: 0%;
    font-family: Sen;
    font-style: normal;
}

.filt-text { 
    font-family: Sen;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #2F80ED;
}


.algne-container {
    margin-top: 120px;
    text-align: left;
    padding-left: 50px;
    width:100%;
    height: 50%;
}

.pais {
    padding: 35px;
    background-color: #2F80ED;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    color: #ffffff;
}

.otsi {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    border-radius: 15px;
    background-color: #2F80ED;
    color: #ffffff;
    border-color: #2F80ED;
    
}

.filter-container {
    background-color: #EEF7FB;
    height: 100%;
    padding-top: 1px;
    padding-bottom: 10px;
}

.kuupaev-text {
    padding-bottom: 25px;
}
