ul {
    padding: 0;
    list-style-type: none;
    font-family: Sen;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 29px;
    color: #2F80ED;
}

.heading {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    padding: 20px 20px;
    background-color: #2F80ED;
    font-size: 36px;
    line-height: 43px;
    color: #ffffff;
    display: flex;
    width: 100%;
    height: 75px;
    color: white;
    top: 0;
    left: 0;
    z-index: 3;
    box-sizing: border-box;

}

.course {
    width: 50%;
}

.burger {
    width: 50%;
    right: 20px;
    text-align: right;
}

.burger a {

color: #ffffff;
}

#menu {
    margin: 0;

    width: 100%;
    height:80%;
    background: #2F80ED;
    position: absolute;
    padding: 50px;
    top: 74px;
    z-index: 10;
    display: none;
}

#menu a {
    color: #fff;
    font-size: 1.4em;
    line-height: 2em;

}

.container {
    display: flex;
    align-items: right;
    justify-content: right;
    flex-direction: column;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu {
    width: 250px;
    height: 130px;
    background-color: #2F80ED;
    color: white;
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.black {
    width: 100px; height: 30px;
    background-color: black;
    color:white;
    border: 1px solid;
    border-radius: 20px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: right;
    align-items: center;
    /*margin-right: 1000px;*/
    margin-top: -10px;
    margin-left: 140px;
    margin-bottom: -6px;
}

.white {
    width: 250px;
    height: 130px;
    background-color: white;
    color: black;
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.blue {
    width: 100px; height: 30px;
    background-color: #2F80ED;
    color:white;
    border: 1px solid;
    border-radius: 20px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: right;
    align-items: center;
    /*margin-right: 1000px;*/
    margin-top: -10px;
    margin-left: 140px;
    margin-bottom: -6px;
}



.white2 {
    width: 250px;
    height: 130px;
    background-color: white;
    color: black;
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.clock {
    width: 100px; height: 30px;
    background-color: #2F80ED;
    color:white;
    border: 1px solid;
    border-radius: 20px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: right;
    align-items: center;
    /*margin-right: 1000px;*/
    margin-top: -10px;
    margin-left: 140px;
    margin-bottom: -6px;
}
.TA-20 {
    display: flex;
    background-color: #2F80ED;
    color: white;
    width: 250px;
    height: 80px;
    font-size: 20px;
    font-family: sans-serif;
}

.sidebar {
    display: flex;
    color: #2F80ED;
}

