body {
    margin: 0;
    padding:0;
}
header {
    position: sticky;
    width: 100%;
    height: 75px;
    background-color: #2F80ED;
    color: white;
    top: 0;
    left: 0;
    z-index: 3;
}

ul {
    padding: 0;
    list-style-type: none;
    font-family: Sen;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 29px;
    color: #2F80ED;
}

.heading {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    padding: 20px 20px;
    background-color: #2F80ED;
    font-size: 36px;
    line-height: 43px;
    color: #ffffff;
    display: flex;
    width: 100%;
    height: 75px;
    color: white;
    top: 0;
    left: 0;
    z-index: 3;
    box-sizing: border-box;

}

.course {
    width: 50%;
}

.burger {
    width: 50%;
    right: 20px;
    text-align: right;
}

.burger a {

color: #ffffff;
}

#menu {
    margin: 0;

    width: 100%;
    height:80%;
    background: #2F80ED;
    position: absolute;
    padding: 50px;
    top: 74px;
    z-index: 10;
    display: none;
}

#menu a {
    color: #fff;
    font-size: 1.4em;
    line-height: 2em;

}


.timetable {
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    overflow: auto;
}
.times { 
    width: 80px; 
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: lightblue;
    z-index: 2;
    /* overflow: auto;*/
}
.clock {
    height: 50px;
    width: 70px;
    /*border:solid black 0.5px;*/
}
.days{
    display: flex;
    height: 150vh;
    width: 1200px;
}
.day {    
    /*width:300px;
     border: 1px solid red;
     float: left; 
     position: relative; */
}
.dayofweek {
    height: 50px;
    top: 0;
    position: sticky;
    display: flex;
    z-index: 1;
}
.schedule {
    height: 50px;
    width: 140px;
    border: solid black 0.5px;}